body {
    background-image: url(paesaggio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 600px) {
    body{
        background: url(paesaggio.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    
}

/* contancts page*/

.background-contacts {
    background-image: url(laptop.jpg);
    background-size: cover;
}

/* portfolio page */

.background-portfolio {
    background-image: url(cucina.jpg);
    background-size: cover;
}


/*menu*/

.menusticky {
    position: sticky;
    top: 20px;
}

#menu {
    overflow: hidden;
    opacity: 0.6;
    visibility: hidden;
    top: 20px;
    width: 80px;

}


#menu a {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 0 15px 0 15px;

}

.visiblemenu {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin: 10px;
    width: 50px;
    border-radius: 0.5;
    border: solid white 3px;
    border-radius: 15px 0 15px 0;
    color: violet;
    padding: 3px;


}



.visiblemenu:hover {
    cursor: pointer;

}

/*O'clock*/

.orologio {
    display: flex;
    justify-content: flex-end;
    color: white;

}

/* photo */

.Photo {
    display: flex;
    justify-content: center;


}

.border-Photo {
    width: 10%;
    border-radius: 10px 10px 10px 10px;
    margin: 20px;
    position: absolute;
    left: 40%;
    top: 0px;
}

.border {
    border-bottom: 5px solid black;


}

.push {
    border: solid 1px;
}

/* box portfolio*/

.flex-container {
    display: flex;
    justify-content: space-around;
    opacity: 0.5;
}

.flex-container>div {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 100px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px 15px 15px 15px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.input {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.main-text {
    display: flex;
    justify-content: space-around;
    opacity: 0.7;
    margin-left: 3%;
    border-radius: 0.5;
    border: solid silver 3px;

}

.contact {
    display: flex;
    opacity: 0.7;
    color: white;
    border: solid white 3px;
    border-radius: 15px 0 15px 0;
}


.portfolio {
    display: flex;
    opacity: 0.7;
    color: white;
    border: solid white 3px;

}

/* text first page */

.paragraph {
    display: flex;
    justify-content: center;
    color: white;
    margin: 50px;
    font-family: 'Times New Roman';
}




/*buttons*/

a:link,
a:active,
a:visited {
    color: violet;
    background-color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    background-color: white;
}

/* CV */

.background-cv {
    background-image: url(spazio.jpg);
    background-size: cover;


}

.footer-cv {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.text-footer {
    color: white;
    background-color: blueviolet;
    opacity: 0.5;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

.paragraph-cv {
    color: white;
    opacity: 0.5;
}

.photo-cv {
    width: 10%;
    display: block;
    float: right;
    border-radius: 5% 0 5% 0;
}

/* contacts and portfolio */
.footer {
    color: aqua;
}

.footer-contact {
    color: aqua;
    margin-top: 50px;
}